@import "variables";
@import "screen_mixins";
@import "mixins";


.hero-section {

  @include flex-c-container();
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: $background-color;


  @include smartphone-p() {

  }
  @include low-tablet-p-phone-l() {

  }
  @include small-desktop() {
    width: 100%;
    height: 639px;
  }
  @include high-desktop() {
    width: 100%;
    height: 639px;
  }


  &__title {

    font-size: 33px;
    font-family: $poppins, sans-serif;
    line-height: 43px;
    color: $product-color;
    margin-left: 19px;
    margin-right: 32px;
    margin-top: 150px;

    @include smartphone-p() {
      margin-top: 140px;
    }

    @include low-tablet-p-phone-l() {
      font-size: 40px;
      line-height: 50px;
    }

    @include high-tablet-l() {
      font-size: 50px;
      line-height: 60px;
    }

    @include small-desktop() {
      font-size: 60px;
      line-height: 70px;
    }

    @include high-desktop() {
      font-size: 70px;
      line-height: 80px;
    }
  }

  &__images-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 350px;
    padding: 20px;
    @media(min-width: 496px) and (max-width: $low-tablet-max-width) {
      min-height: 435px;
    }
    @include high-tablet-l() {
      min-height: 530px;
    }
    @media (min-width: 870px) and (max-height: $high-tablet-max-width) {
      min-height: 560px;
    }
  }


  &__desks {
    position: absolute;
    width: 100%;
    min-width: 400px;
    object-fit: contain;


  }

  &__mobile {
    position: absolute;
    object-fit: contain;
    max-height: 300px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    @media(min-width: 496px) and (max-width: 630px) {
      max-height: 380px;
    }
    @media (min-width: 631px) and (max-width: $low-tablet-max-width) {
      max-height: 460px;
    }
    @include high-tablet-l() {
      max-height: 560px;
    }
    @media(min-width: 870px) and (max-width: $high-tablet-max-width) {
      max-height: 630px;
    }
  }

  &__text {
    width: 85%;
    font-size: 25px;
    font-family: $roboto, sans-serif;
    color: $text-color;
    line-height: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

    @media(min-width: 630px) {
      margin-top: 25px;
    }

    @include high-tablet-l() {
      font-size: 30px;
      line-height: 40px;
    }


  }

  &__link {
    text-decoration: none;
  }

  &__buttons-box {
    @include flex-s-b-container();
    width: 500px;
    box-sizing: border-box;
    flex-direction: row;


  }


  &__black-button {
    min-height: 40px;
    height: 10vw;
    max-height: 72px;
    margin-left: 5px;
    margin-right: 5px;

  }

}
