@import "variables";
@import "screen_mixins";
@import "mixins";


.nav-container {
  position: fixed;
  width: 100%;
}

.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color;


  &__top-menu {
    display: none;

    

  }


  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include low-tablet-p-phone-l() {
      transform: translateX(-46.5px);
    }

  }

  &__logo {
    background-image: url("../../assets/logo_mobile.png");
    width: 34px;
    height: 25px;
    margin-top: 21px;
    margin-left: 20px;
    margin-bottom: 21px;

    @include low-tablet-p-phone-l() {
      @include ful-logo-size()
    }

    @include high-tablet-up(){
      @include ful-logo-size()
    }
  }

  &__title {
    font-size: 17px;
    line-height: 21px;
    margin: 0;
    font-family: $roboto, sans-serif;
    font-weight: normal;


  }

  &__select {
    width: 17px;
    height: 17px;
    background-color: $background-color;
    background-image: url("../../assets/select.png");
    background-size: cover;

    @include high-tablet-up() {
      display: none;
    }
  }

  &__nav {
    display: none;
    list-style-type: none;

    @include high-tablet-l() {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 45vw;
    }

    @include small-desktop() {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 45vw;
    }
  }


  &__link {
    @include link-normal();
  }

  &__link::after {
    @include underline-hidden()
  }

  &__link:hover {
    @include change-font-w()
  }

  &__link:hover::after {
    @include underline-show()
  }


  &__hamburger {
    background-image: url("../../assets/hamburger_menu.png");
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    margin-right: 18px;

    @include high-tablet-up() {
      display: none;
    }
  }


}
