@import "variables";
@import "screen_mixins";
@import "mixins";

.nav-container {
  position: fixed;
  width: 100%;
}

.navbar-main {
  @include flex-s-b-container();
  background-color: $background-color;
  flex-wrap: wrap;

  &__top-menu {
    display: none;

    @include small-desktop() {
      @include flex-s-b-container();
    }
    @include high-desktop() {
      @include flex-s-b-container();
    }
  }

  &__top-nav {
    @include flex-s-b-container();
    list-style-type: none;
    width: 16vw;
    margin-right: 2vw;
  }

  &__top-item {
    font-size: 13px;
    font-family: $roboto, sans-serif;
    line-height: 15px;
    color: $text-color;
  }

  &__globe-container {
    @include flex-s-b-container();
    width: 37px;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  &__globe {
    background-image: url("../../assets/globe.png");
    width: 18px;
    height: 18px;
    background-size: cover;
  }

  &__sign-in {
    margin-left: 2vw;
    margin-right: 2vw;

    &-link {
      font-size: 17px;
      font-family: $roboto, sans-serif;
      font-weight: bold;
      text-decoration: none;
      color: $text-color;
    }
  }

  &__get-app {
    width: 280px;
    height: 80px;
    background-color: $product-color;
    border: 0;
    position: relative;

    &-label {
      position: absolute;
      font-size: 17px;
      color: $background-color;
      font-family: $roboto, sans-serif;
      font-weight: lighter;
      left: 57px;
      bottom: 16px;
    }
  }

  &__menu {
    @include flex-s-b-container();

    @include low-tablet-p-phone-l() {
      transform: translateX(-46.5px);
    }

    @include small-desktop() {
      width: 100vw;
      justify-content: center;
    }
    @include high-desktop() {
      width: 50vw;
      margin-left: 15vw;
      margin-right: 35vw;
      justify-content: center;
    }
  }

  &__logo {
    background-image: url("../../assets/logo_mobile.png");
    width: 34px;
    height: 25px;
    margin-top: 21px;
    margin-left: 20px;
    margin-bottom: 21px;

    @include low-tablet-p-phone-l() {
      @include ful-logo-size();
    }
    @include high-tablet-l() {
      @include ful-logo-size();
    }
    @include small-desktop() {
      @include ful-logo-size();
    }
    @include high-desktop() {
      @include ful-logo-size();
    }
  }

  &__title {
    font-size: 17px;
    line-height: 21px;
    margin: 0;
    font-family: $roboto, sans-serif;
    font-weight: normal;
  }

  &__select {
    width: 17px;
    height: 17px;
    background-color: $background-color;
    background-image: url("../../assets/select.png");
    background-size: cover;

    &--first {
      @include high-tablet-l() {
        display: none;
      }
      @include small-desktop() {
        display: none;
      }
      @include high-desktop() {
        display: none;
      }
    }
  }

  &__nav {
    display: none;
    list-style-type: none;
    width: 45vw;

    @include high-tablet-l() {
      @include flex-s-a-container();
    }

    @include small-desktop() {
      @include flex-s-a-container();
    }

    @include high-desktop() {
      @include flex-s-a-container();
      width: 35vw;
    }
  }

  &__link {
    @include link-normal();

    &::after {
      @include underline-hidden();
    }

    &:hover {
      @include change-font-w();
    }

    &:hover::after {
      @include underline-show();
    }
  }

  &__hamburger {
    background-image: url("../../assets/hamburger_menu.png");
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    margin-right: 18px;

    @include small-desktop() {
      display: none;
    }
    @include high-desktop() {
      display: none;
    }
  }
}
