$product-color: #3146FF;
$text-color: #000;
$background-color: #F7F7F7;
$secondary-color: #01FFCB;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');


@mixin link-behaviour-visited {
  color: $text-color;
  font-family: "Roboto Bold", sans-serif;

}

@mixin link-behaviour-active {
  @include link-behaviour-visited();
  font-weight: bold;

}


html, body {
  margin: 0;
}


header {
  height: 210px;
}

//first nav

#logo {
  margin-top: 44px;
  margin-left: 68px;
}

.nav-first {
  margin-bottom: 40px;
}

.nav-line-first {
  float: right;
  margin-top: 0;
}

.nav-line-first li {
  display: inline-block;
  font-family: "Roboto Regular", sans-serif;
}

.nav-line-first li:nth-child(-n+3) {
  font-size: 13px;
  margin: 15px;

}

.nav-line-first li:nth-child(4) {
  width: 18px;
  height: 40px;
  margin-left: 72px;
}

.globe {
  margin: 0;
}

.nav-line-first li:nth-child(5) {
  margin-right: 65px;
}

.nav-line-first li:nth-child(6) {
  margin-right: 30px;
}

.getTheApp {
  box-sizing: border-box;
  width: 280px;
  height: 80px;
  background-color: $product-color;
  color: $background-color;
  font-size: 16px;
  padding: 47px 138px 16px 57px;
  font-family: "Roboto Regular", sans-serif;
}

// second nav


.nav-line-second {
  box-sizing: border-box;
  height: 22px;
  margin-top: auto;
  margin-bottom: 0;
  padding: 2px 684px 0 347px;
}

.nav-line-second li {
  display: inline-block;
}

.nav-line-second li:first-child {
  font-size: 19px;
  font-family: "Roboto Regular", sans-serif;
}


.nav-line-second li:nth-child(n+2):nth-child(-n+6) {
  margin: 0 30px;
}

.nav-second-link:link {
  font-family: "Roboto Regular", sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: $text-color;
  text-decoration: none;
  position: relative;

}

.nav-second-link:hover {
  @include link-behaviour-active()
}

.nav-second-link:visited {
  @include link-behaviour-visited()
}


.nav-second-link::after {
  content: " ";
  width: 0;
  height: 3px;
  background-color: $secondary-color;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;

}

.nav-second-link:hover::after {
  width: 33px;

}

.first-section {
  //background-color: $background-color;
  //background: url("https://assets-us-01.kc-usercontent.com:443/b17309a6-c1a6-4783-8b34-1e273f6881cc/73561929-34fa-4c15-87b6-ceda32a13964/zonifero-features-animation---desks-gray-rev-2.gif?dpr=1&w=1980&fm=webp&lossless=false");
}

.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 40vw;
  margin-left: 340px;
}

.download {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.download > img:nth-child(1) {
  margin-right: 2px;
}

.download > img:nth-child(2) {
  margin-left: 2px;
}

.bigHeadline, .description {
  align-self: center;
}

.bigHeadline {
  font-size: 70px;
  line-height: 80px;
  margin: 0;
  color: $product-color;
  font-family: "Poppins Bold", sans-serif;
  font-weight: bold;
}

.description {
  font-size: 30px;
  line-height: 40px;
  text-align: left;
  font-family: "Roboto Regular", sans-serif;
}

.left {

}
