$product-color: #3146FF;
$text-color: #000;
$background-color: #F7F7F7;
$secondary-color: #01FFCB;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');


@mixin link-behaviour-visited {
  color: $text-color;
  font-family: "Roboto Bold", sans-serif;

}

@mixin link-behaviour-active {
  @include link-behaviour-visited();
  font-weight: bold;

}


html, body {
  margin: 0;
}


header {
  height: 210px;
}

//first nav

#logo {
  margin-top: 44px;
  margin-left: 68px;
}

.nav-first {
  margin-bottom: 40px;
}

.nav-line-first {
  float: right;
  margin-top: 0;
}

.nav-line-first li {
  display: inline-block;
  font-family: "Roboto Regular", sans-serif;
}

.nav-line-first li:nth-child(-n+3) {
  font-size: 13px;
  margin: 15px;

}

.nav-line-first li:nth-child(4) {
  width: 18px;
  height: 40px;
  margin-left: 72px;
}

.globe {
  margin: 0;
}

.nav-line-first li:nth-child(5) {
  margin-right: 65px;
}

.nav-line-first li:nth-child(6) {
  margin-right: 30px;
}

.getTheApp {
  box-sizing: border-box;
  width: 280px;
  height: 80px;
  background-color: $product-color;
  color: $background-color;
  font-size: 16px;
  padding: 47px 138px 16px 57px;
  font-family: "Roboto Regular", sans-serif;
}

// second nav


.nav-line-second {
  display: flex;
  box-sizing: border-box;
  height: 22px;
  margin-top: auto;
  margin-bottom: 0;
  padding: 2px 684px 0 347px;
}

.nav-line-second li {
  display: inline-block;
}

.nav-line-second li:first-child {
  font-size: 19px;
  font-family: "Roboto Regular", sans-serif;
}


.nav-line-second li:nth-child(n+2):nth-child(-n+6) {
  margin: 0 30px;
}

.nav-second-link:link {
  font-family: "Roboto Regular", sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: $text-color;
  text-decoration: none;
  position: relative;

}

.nav-second-link:hover {
  @include link-behaviour-active()
}

.nav-second-link:visited {
  @include link-behaviour-visited()
}


.nav-second-link::after {
  content: " ";
  width: 0;
  height: 3px;
  background-color: $secondary-color;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;

}

.nav-second-link:hover::after {
  width: 33px;

}

.first-section {

}

.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 40vw;
  margin-left: 340px;
}

.download {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.download > img:nth-child(1) {
  margin-right: 2px;
}

.download > img:nth-child(2) {
  margin-left: 2px;
}

.bigHeadline, .description {
  align-self: center;
}

.bigHeadline {
  font-size: 70px;
  line-height: 80px;
  margin: 0;
  color: $product-color;
  font-family: "Poppins Bold", sans-serif;
  font-weight: bold;
}

.description {
  font-size: 30px;
  line-height: 40px;
  text-align: left;
  font-family: "Roboto Regular", sans-serif;
}

.left {
  width: 800px;
  position: relative;
  display: flex;
  left: 52%;
}

.left > #desks {
  width: 700px;
  position: relative;
}

.left > #hand {
  position: absolute;
  left: 60px;
  height: 650px;
}

//second section


.art-title {
  color: $text-color;
  font-family: "Poppins Bold", "Arial", sans-serif;
  line-height: 26px;
  font-size: 19px;
}

.art {
  color: $text-color;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: lighter;
  line-height: 25px;
  font-size: 17px;
  width: 302px;
}

.text {
  margin: 60px 2vw;
}


//third section


.section {
  &__first {
    // all sections <- correct solution
  }

  &__second {
    margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

  }

  &__third {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    position: relative;
    margin-left: 15vw;
  }

  &__header {
    position: absolute;
    margin-top: 0;
    //margin-left: 30px;
    top: 0;
    left: 0;
    //margin-left: 15vw;
    font-size: 17px;
    color: $text-color;
    font-family: "Roboto Regular", "Arial", sans-serif;
    font-weight: normal;
  }

  &__fourth {
    display: block;
  }
}

.block {

  width: 310px;
  height: 500px;
  padding: 50px;
  box-sizing: border-box;

  &__photo {

  }

  &__title {
    color: $text-color;
    font-size: 19px;
    line-height: 26px;
    font-family: "Poppins Bold", "Arial", sans-serif;
    font-weight: bold;
  }

  &__text {
    color: $text-color;
    font-size: 17px;
    line-height: 25px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: lighter;
  }

}

.form-nav {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;

  }

  &__item {
    margin: 0 30px;
  }

  &__link:link {
    font-family: "Roboto Regular", sans-serif;
    font-size: 17px;
    line-height: 27px;
    color: $text-color;
    text-decoration: none;
    position: relative;
  }

  &__link:hover {
    @include link_behaviour-active()
  }

  &__link:visited {
    @include link-behaviour-visited()
  }

  &__link::after {
    content: " ";
    width: 0;
    height: 3px;
    background-color: $secondary-color;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
  }

  &__link:hover::after {
    width: 33px;
  }
}

.form-exact {

  &__first {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  &__second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 71px;
  }


  &__element {
    margin-right: 1vw;
    margin-left: 1vw;

  }

  &__label {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Roboto Light", "Arial", sans-serif;
    font-size: 13px;
    color: $text-color;
  }

  &__input {
    display: block;
    width: calc(250px + 10vw);
    height: 38px;
    font-size: 30px;
    font-family: "Roboto Regular", "Arial", sans-serif;
    border: none;
    border-bottom: 1px dashed $text-color;


  }

  &__decorate {
    color: $product-color
  }

  &__button {
    width: 200px;
    height: 60px;
    text-align: center;
    color: $background-color;
    background-color: $product-color;
    border: none;
  }
}


@media (min-width: 1436px) {
  .form-exact__element:last-child > .form-exact__input {
    width: calc(505px + 22vw);
  }
}

// hot desk booking like a pro



